<div class="col-xs-12 col-sm-6 col-lg-3 col-md-4 video-box">
    <div class="video-thumb-container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class=embed-responsive-item src="//www.youtube.com/embed/{{id}}?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <p class="pull-left">#<a href="/category/{{source}}">{{source}}</a>.</p> <p class="pull-right"><a href="/video/{{source}}/{{id}}">{{num}} Tweets</a></p>
</div>